---
import { authors } from '../../data/authors';
import AuthorCard from './AuthorCard.astro';

const authorList = Object.values(authors);
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {authorList.map(author => (
    <AuthorCard author={author} />
  ))}
</div>